1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

In [ ]:
"""
* [expression]

'hello' [value]

-87.8 [value]

- [expression]

/ [expression]

+  [expression]
6 [value]

"""

2. What is the difference between string and variable?

In [ ]:
"""
String:a data type used to represent text. 
it is a sequence of characters showed in single quotes (') or in double quotes (")
eg: 'hello', "hi"
they are literal values. 
they contain actual data.

Variable: it is a symbolic name used to store values.
values can be changed during program excution. 
eg: name=kusuma 
'here name is variable holding value as kusuma'
they are dynamic in nature. 
""""

3. Describe three different data types.

In [ ]:
"""
integer(int): indicates whole numbers, positive and negative numbers without any deciaml points. 
eg: 2,-30

float(float): indicates numbers that have decimal points. 
eg: 28.03

String(str): indicates sequence of characters in quotes.
eg: "123" ,'Kusuma'

4. What is an expression made up of? What do all expressions do?

In [ ]:
"""
An expression is made up of operands (like variables, constants, or functions) 
and operators (like +, -, *, /). 
All expressions evaluate to a value when executed.
""""

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement

In [ ]:
"""
An **expression** evaluates to a value (e.g., `2 + 3` evaluates to `5`), 
while a **statement** performs an action but does not return a value 
(e.g., `spam = 10` assigns `10` to `spam`). 

In short:  
- Expression: Produces a value.  
- Statement: Executes something.

6. After running the following code, what does the variable bacon contain?

In [ ]:
""""
bacon = 22

 bacon + 1
"""

"""
bacon = baocn + 1
returns value 23 where as the original value is 22.
"""

7. What should the values of the following two terms be?

In [ ]:
""""
'spam' + 'spamspam'

'spam' * 3
"""

"""
spamspamspam

spamspamspam
"""

8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
"""
egg starts with a letter (e), which is allowed.
egg consists only of alphabetic characters, which are valid.

100 starts with a number (1), which is not allowed for variable names.
A variable name cannot begin with a number, though it can contain numbers after the first character.
"""

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [ ]:
"""
int(): Converts a value to an integer.
Example: int('42') - 42
Works with strings representing whole numbers, or can be used to convert floats to integers.
float(): Converts a value to a floating-point number.
Example: float('3.14') - 3.14
Works with strings or integers, and converts them into a float.
str(): Converts a value to a string.
Example: str(42) - '42'
Can be used to convert integers, floats, or other data types to their string representations.
"""

10. Why does this expression cause an error? How can you fix it?

In [ ]:
'I have eaten ' + 99 + ' burritos.'
"""

"""""""
causes an error because Python is trying to concatenate a string ('I have eaten ') with an integer (99),
and we can't directly concatenate a string with an integer in Python.
Python raises a TypeError because it doesn't know how to add (concatenate) a string and an integer together.

'I have eaten ' + str(99) + ' burritos.'
"""